body {
  background: linear-gradient(335deg, rgb(220, 109, 189) 0%, rgb(255, 168, 245) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}

h1 {
  color: #d9534f; /* Red Bull color */
}

.container {
  margin-top: 50px;
}

.table th,
.table td {
  border: none;
  transition: box-shadow 0.3s; /* Smooth transition for box-shadow on hover */
}

.table th:hover,
.table td:hover {
  box-shadow: 0 0 10px rgba(217, 83, 79, 0.5); /* Shadow on hover with Red Bull color */
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  margin-top: 10px;
  background-color: #d9534f; /* Red Bull color */
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on color change */
}

input[type="submit"]:hover {
  background-color: #c9302c; /* Slightly darker shade on hover */
}

#displayInfo {
  margin-top: 20px;
}

#showHideButton {
  margin-top: 20px;
}

/* Additional styles for better readability */
label {
  font-weight: bold;
  font-size: 16px;
}

/* Adjust as needed */

